.logo {
  width: 390px;
  display: flex;
  justify-content: end;
  text-align: center;
  padding: 20px;
}
.searchbar {
  flex: 1;
  padding: 20px;
}
input {
  width: 600px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
input::placeholder {
  padding: 10px;
  font-size: 13px;
  letter-spacing: 1px;
}
.charts {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 15px;
  text-align: center;
  color: red;
}

.address {
  padding: 20px;
  width: 390px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Navigation {
  background-color: #059;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavBar {
  background-image: url(https://cdn.muscleandstrength.com/sites/all/themes/mnsnew/images/hero/workouts.jpg);
  background-position: center;
  background-size: cover;
  background: linear-gradient((rgba(110, 91, 100, 0), rgba(119, 115, 176, 0)));
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navtitle {
  color: white;
  font-weight: 800;
  font-size: 80px;
}
.navtext {
  font-size: 20px;
}
.exc {
  font-size: 28px;
  font-weight: 700;
}
